<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Formulario de Contacto</title>
</head>
<body>
	<form name='send_contacto' method="GET" action="../../app/iniciador.php/Contacto">
		<span>Nombre</span>
		<span><input type="nombre_contacto" value="" placeholder="Nombre"></span>
		<span>Apellidos</span>
		<span><input type="apellidos_contacto" value="" placeholder="Apellidos"></span>
		<span>Correo Electronico</span>
		<span><input type="email_contacto" value="" placeholder="Email"></span>
		<span>Telefono (opcional)</span>
		<span><input type="telefono_contacto" value="" placeholder="Telefono"></span>
		<span>Asunto</span>
		<span><input type="asunto_contacto" value="" placeholder="Asunto"></span>
		<span>Breve descripción de su idea de lo qu enecesita</span>
		<span><textarea name='descripcion_contacto' palceholder="Descripcion"></textarea></span>
		<span><input type="submit" name='guardar'></span>
	</form>
</body>
</html>