<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gusto Culposo">
    <meta name="author" content="Rookye">

    <title>Gusto Culposo</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/gustoculposo.css" rel="stylesheet">

  </head>

  <body>

     

    <!-- Navigation -->
      <nav class="navbar navbar-expand-md navbar-dark py-lg-3" id="mainNav">
      <div class="container">
        <div class="px-lg-4">
        <a href="index.html"> <img class="navbar-brand" id="logo" src="../img/logo.png"></a>
         </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">  </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive"> 

          <ul class="navbar-nav mx-auto">
            
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="about.html">Conocenos</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="products.html">Productos</a>
            </li>
            <li class="nav-item px-lg-3">
              <a class="nav-link text-uppercase text-expanded" href="store.html">Tu pedido</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Contactanos</span>
                <span class="section-heading-lower">Estamos abiertos</span>
              </h2>
              <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu email">
    <small id="emailHelp" class="form-text text-muted">Nunca lo compartieemos con nadie.</small>
  </div>
   
   
  <div class="form-group">
    <label for="exampleSelect2">Pedido de</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>Pastel</option>
      <option>Cupcakes</option>
      <option>Postre</option>
      <option>Bebidas</option> 
    </select>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Comentarios</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Envianos tu diseño</label>
     
     <br>
     <label class="btn btn-primary" for="my-file-selector">
    <input id="my-file-selector" type="file" style="display:none" 
    onchange="$('#upload-file-info').html(this.files[0].name)">
    Archivo
</label><br>
<span class='label label-info' id="upload-file-info"></span>
    <small id="fileHelp" class="form-text text-muted">Envianos una foto o imagen del diseño que te gustaria para decorar tu pedido.</small>
  </div>
   
   
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
              <p class="address mb-5">
                <em>
                  <strong>En algun lugar</strong>
                  <br>
                  Chalco, Estado de Mexico
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Llamanos</em>
                </small>
                <br>
                554593495
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">No se</span>
                  <span class="section-heading-lower">Algun comentario de los productos</span>
                </h2>
                <p>Todo muy rico</p>
                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     <footer id="footer" class="text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small"><b>Creado Por<a href="http:www.Rookye.com.mx"> Rookye</a>  2018</b></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
 


  </body> 
</html>
