<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rookye</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template --> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Custom styles for this template -->

    <link href="../css/creative.min.css" rel="stylesheet">
 <!-- Bootstrap core JavaScript -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script> 
 <!-- script google -->
    <script type="application/ld+json">
      {
        "@context": "http://rookye.com.mx",
        "@type": "Product",
        "name": "Sitio Web Basico",
        "image": [
          "http://rookye.com.mx/Rookye/img/portfolio/fullsize/6.jpg",
          "http://rookye.com.mx/Rookye/img/portfolio/fullsize/1.jpg",
          "http://rookye.com.mx/Rookye/img/portfolio/fullsize/2.jpg"
         ],
        "description": "Una pagina web basica que contiene galería de imágenes formulario de contacto, Informacion sobre la empresa, Conexiones con redes sociales, Administracion del contenido, Hosting, Dominio, Correo Electronico, Roles de usuario.",
        "mpn": "925872",
        "brand": {
          "@type": "Thing",
          "name": "Pagina Web"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.4",
          "reviewCount": "89"
        },
        "offers": {
          "@type": "Offer",
          "priceCurrency": "MX",
          "price": "5000",
          "priceValidUntil": "2019-01-01" 
        }
      }
</script>




<script type="text/javascript">
  $(function() {
!function(a){
    "use strict";
    a('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function(){
        if(location.pathname.replace(/^\//,"")==this.pathname.replace(/^\//,"")&&location.hostname==this.hostname){
            var e=a(this.hash);
            if((e=e.length?e:a("[name="+this.hash.slice(1)+"]")).length)return a("html, body").animate({
                scrollTop:e.offset().top-57
            }
            ,1e3,"easeInOutExpo"),!1
        }
    }
    ),a(".js-scroll-trigger").click(function(){
        a(".navbar-collapse").collapse("hide")
    }
    ),a("body").scrollspy({
        target:"#mainNav",offset:57
    }
    );
    var e=function(){

        if( $("#mainNav").offset().top>100 )
        {
            $("#mainNav").addClass("navbar-shrink");
        }
        else
        {
        $("#mainNav").removeClass("navbar-shrink");
        }
        
    }
    ;
    e(),a(window).scroll(e) 
}
(jQuery);
});
</script>

<style type="text/css">
 .card {
    width: 79%;
    min-height: 355px;
    border: solid 1px rgba(22, 22, 22, 0.18);
    color: gray;
    background-color: white;
    padding: 10px;
    margin: 7px 3px 7px 3px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.06);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card::before{
  top: 0;
  height: 0;
  width:0;
  background-color:block;
   
  font-weight: strong;
  cursor: pointer;
}
h1,p{
  line-height:1.3;
  padding: 0px 0px 5px 0px;
  margin: 1px;
  width: 100%;
  text-align: center;
}
h1{
  font-size:1.15rem;
}
h1.{
  text-transform: capitalize;
}
p{
 font-size:.98rem; 
}
.card > img{
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 5px 0px;
  background-color:gray;
  border-radius: 50%;
}
.card > p {
  text-align: center;
}

.btndetalles{
  text-decoration: none;
  background-color:#3c3946;
  color:white;
  padding: 5px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  bottom:15px;
  margin-top: 7px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.06);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btndetalles:hover{
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  background-color:#9d83e8 ;
}
.sharethis-inline-share-buttons{
  padding: 50px 0px 50px 0px;
}

.page-footer
{
  background-color: #0c0818;
  color: white;
}

a:link 
{ 
text-decoration:none !important; 
} 

.page-footer a
{
 text-decoration: none;
    background-color: transparent;
  color: #9d83e8 ;
}

</style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Rookye</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Proyecto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Soliciones web a su alcanze </strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Hacemos más productivo y eficiente tu negocio.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Descubre mas</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Sistemas a la Medida</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Cualquier necesidad , trabanjado juntos para proporcionar soluciones para proyectos de información utilizando sistemas y tecnologías específicos para cada clientes.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">
            Cotizar
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">A su servicio</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="material-icons">stay_current_landscape</i>
              <h3 class="mb-3">Diseño adaptable</h3>
              <p class="text-muted mb-0">Una interfaz amigable, personalizada y a la medida de cualquier dispositivo segun las necesidades del cliente.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="material-icons">create</i>
              <h3 class="mb-3">Encaja a la perfección</h3>
              <p class="text-muted mb-0">Programacion perzonalizada para cada aspecto de su negocio aumentando la productividad.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="material-icons">computer</i>
              <h3 class="mb-3">Ultimas tecnologias</h3>
              <p class="text-muted mb-0">Desarrollamos nuestras tecnologias mediante PHP, MySQL,  JavaScript, AJAX, jQuery y muchos más.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="material-icons">favorite</i>
              <h3 class="mb-3">Hechas con amor</h3>
              <p class="text-muted mb-0">A travez del tiempo hemos perfeccionado una solida base de experiencia en tecnologias para aplicarlas en estrategias comerciales y administrativas. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="../img/portfolio/fullsize/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Paginas web basicas
                  </div>
                  <div class="project-name">
                    Desde 4 mil pesos
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="../img/portfolio/fullsize/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Paginas web con base de datos
                  </div>
                  <div class="project-name">
                    desde 6 mil pesos
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="../img/portfolio/fullsize/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Sistemas Administrativos
                  </div>
                  <div class="project-name">
                   Desde 10 mil pesos
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="../img/portfolio/fullsize/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Sistemas de capacitacion 
                  </div>
                  <div class="project-name">
                    Desde 8 mil pesos
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="../img/portfolio/fullsize/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Gestion de Inventarios
                  </div>
                  <div class="project-name">
                    Desde 15 mil pesos
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="../img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="../img/portfolio/fullsize/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Tienda Web
                  </div>
                  <div class="project-name">
                    Desde 25 mil pesos
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Mejora tu negocio</h2>
        <p> Es tiempo de llevar tu negocio a la era de la tecnologia</p>
        <a class="btn btn-light btn-xl sr-button" href="">Inicia ahora</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contactanos!</h2>
            <hr class="my-4">
            <p class="mb-5">Ponte en contacto con nosotros para conocer tus necesidades  y darte una solucion  basados en tu presupuesto </p>
          </div>
        </div>
<div class="row">
  <div class="col-lg-2 mx-auto text-center"></div>
   <div class="col-lg-3 mx-auto text-center">
    <div class="card">
      <img src="../img/avatar_r.jpg" alt="" />
      <h1>Ricardo Garcia</h1>
      <p>Web Developer</p>
      <p>
        <img src="../img/php.png">
        <img src="../img/css.png">
        <img src="../img/sql.png">
        <img src="../img/mysql.png">
        <img src="../img/js.png"></p>
      <a href="CV_Ricardo.htm" target="_blank" class="btndetalles">Detalles</a>
    </div>
  </div>
  <div class="col-lg-3 mx-auto text-center">
    <div class="card">
      <img src="../img/avatar_e.jpg" alt="" />
      <h1>Eibar Ponce</h1>
      <p>Web Developer</p>
      <p>
        <img src="../img/csharp.png">
        <img src="../img/php.png">
        <img src="../img/css.png">
        <img src="../img/sql.png">
        <img src="../img/mysql.png">
        <img src="../img/js.png">
      </p>
      <a href="CV_Eibar.htm" target="_blank" class="btndetalles">Detalles</a>
    </div>
  </div>
  <div class="col-lg-3 mx-auto text-center">
    <div class="card">
      <img src="../img/avatar_i.jpg" alt="" />
      <h1>Ismael</h1>
      <p>Web Developer</p>
      <p> 
        <img src="../img/php.png">
         </p>
      <a href="CV_Isma.htm" target="_blank" class="btndetalles">Detalles</a>
    </div>
  </div> 
</div>
 
          
      </div>
    </section>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <br>
                <h5 class="white-text">Contacto</h5>
                 
           <div class="row">
              <a href="mailto:contacto@rookye.com.mx">contacto@rookye.com.mx</a>
            </div>
            <div class="row">
             123-456-6789 
            </div>
              </div>
              <div class="col-lg-6">
                <br>
                <h5 class="white-text">Navegacion</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 · Página Web Rookie  · Todos los derechos reservados. Política de Privacidad. Condiciones Generales.<br>
            <br>
            </div>
          </div>
        </footer>
   

  </body>

</html>
