<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="../css/stylepage.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"> 
<style type="text/css">
   body {
      background: #000;
    }


</style>
 </head>


 <div class="container">
  <div class="row">
    <div class="col-md-2">
        <h1 class="logotxt">Rookie</h1>
      </div>

      <div class="col-md-2 offset-md-8">
        <div class="row" style="margin-top: 35px;">
         <p class="grey-text">Usuario logueado</p>
          
      </div>
    </div>
  </div> 

  <div class="row">

    <div class="col-md-3">
<p>Comunicacion Interna</p>
      <i class="material-icons large ">domain</i>
       </div>
       <div class="col-md-3">
      <p>Gestion Integral</p>
      <i class="material-icons large ">group</i>
       </div>
       <div class="col-md-3">
      <p>Configuracion</p>
    <i class="material-icons large ">settings</i>
       </div>
       <div class="col-md-3">
      <p>Otro</p>
      <i class="material-icons large ">adb</i>
       </div>

  </div>
  
 
  
</div>
</body>
</html>